/* - Mobile-first - */




/* .homepage-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
   "nav-header"
   "header"
   "kontent"
   "footer"
   ;
}

.nav-header{
  grid-area:nav-header;
}

.top-header{
  grid-area:header;
}

.main-section{
  grid-area:kontent;
  display:flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
  margin: 0px 20px;

}

.footer{
  grid-area: footer; */

.nav-header {
  display: flex;
  position: fixed;
  background-color: rgba(169, 169, 169, 0.8);
  width: 100%;
  border: 2px solid #868686;
  justify-content: flex-end;
  z-index: 100;
}

.navigation__link {
  color: #000000;
  background-color: #368f24;
  box-sizing: border-box;
  padding: 10px 40px;
  margin: 10px 10px;
  display: inline-flex;
  text-decoration: none;
}

.navigation__link:hover {
  background-color: rgb(0, 56, 9);
  color: #fff;
}

.top-header {
  color: rgb(23, 82, 30);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.picture img {
  border-radius: 20px;
}

.footer {
  display:flex;
  box-sizing: border-box;
  background-color: #a9a9a9cc;
  clear: both;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  border: 2px solid #868686;
  color: #ffffff;
  justify-content: center;
}

.navigation__link--active {
  background-color: #1d3f1e;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
}

.form__item {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 20px;
}

/* .description {
  width: 400px;
  font-size: 22px;
  margin-left: 20px;
} */

.gallery img {
  display: flex;
  max-width: 400px;
  border-radius: 20px;
  border: 5px #333333 solid;
}

.gallery img:hover {
  opacity: 0.8;
  border: 8px rgb(0, 155, 0) solid;
}

.homepage-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
   "nav-header"
   "header"
   "kontent"
   "footer"
   ;
}

.nav-header{
  grid-area:nav-header;
}

.top-header{
  grid-area:header;
}

.main-section{
  grid-area:kontent;
  display:flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
  margin: 0px 20px;

}

.footer{
  grid-area: footer;
}



.main-content {
  display: flex;
  justify-content: center;
  margin: 0px 60px;
  flex-wrap: wrap;
}

.homepage-img {
width: 50%;
margin-top:20px;
}

.animation:hover {
  transform: rotate(5deg);
}

.gallery-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content min-content auto min-content;
}


}
.hamburger-menu {
  display: none;
}

@media (max-width: 425px) {

  .nav-header {
    display: block;
    position: fixed;
    background-color: rgba(169, 169, 169, 0.8);
    width: 100%;
    min-height: 60px;
    border: 2px solid #868686;
    z-index: 100;
  }

  .gallery-subtitle {
    display: none;
  }
  .gallery {
    display: flex;
    justify-content: center;
    margin:5px 5px;
    
  }

  .gallery img {
    width: 100%;
    border: none;
  }

  .homepage-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
  }


  .animation:hover {
    transform: none;
  }

  .gallery img:hover {
    opacity: 1;
    border: none;
  }

  .hamburger-menu {
    background: none;
    border: none;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .hamburger-menu div {
    width: 20px;
    height: 3px;
    margin: 2px 0px;
    background-color: #000000;
  }

  .navigation {
    display: none;
  }
  .navigation--open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .navigation--open a {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .top-header {
    margin-top: 70px;
  }


  .gallery-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
   "nav-header"
   "header"
   "kontent"
   "footer"
   ;
  }

   .about-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
   "nav-header"
   "header"
   "kontent"
   "footer"
   ;
   }
   
   .description {
    display:flex;
    width: 100%;
    font-size: 15px;
    justify-content: center;

   }
    .picture{
    display:flex;
    justify-content: center;
    margin: 0px 20px;
    width:100%;
    }
    .picture img{
      width: 100%;
   }



  
}
